*{box-sizing:border-box;margin:0; padding:0;}

h1{text-align:center; margin-top:35px; font-family:Broadway; margin-bottom:70px; color:firebrick;}
	
#kutu{border:2px solid darkslategrey; position:relative;
margin:15px; height:200px; background-color:sandybrown; padding-left:10px;}
#başlık {font-family:Forte; float:right; float:top; position:relative; background-color:yellowgreen; width:190px; height:40px; text-align:center;
border:1px solid darkslategrey; font-size:20px; margin-bottom:8px;}	
#metin {font-weight:bold;
	clear:right; font-size:22px; font-family:Century; padding-right:12px;}

#başlık2 {font-family:Forte; float:right; float:top; position:relative; background-color:cyan; width:190px; height:40px; text-align:center;
border:1px solid darkslategrey; font-size:20px; margin-bottom:8px; color:white;}	

#başlık3 {font-family:Forte; float:right; float:top; position:relative; background-color:red; width:190px; height:40px; text-align:center;
border:1px solid darkslategrey; font-size:20px; margin-bottom:8px; color:yellow;}	



@media (min-width: 768px) and (max-width: 991px) { 
.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7,
.col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {float:left;}
.col-md-1 {width:8.33%;}
.col-md-2 {width:16.66%;}
.col-md-3 {width:25%;}
.col-md-4 {width:33%;}
.col-md-5 {width:41.66%;}
.col-md-6 {width:50%;}
.col-md-7 {width:58.33%;}
.col-md-8 {width:66.66%;}
.col-md-9 {width:74.99%;}
.col-md-10 {width:83.33%;}
.col-md-11 {width:91.66%;}
.col-md-12 {width:100%;}
}




@media (min-width: 992px) and (max-width: 1500px){
.col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7,
.col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {float:left;}
.col-lg-1 {width:8.33%;}
.col-lg-2 {width:16.66%;}
.col-lg-3 {width:25%;}
.col-lg-4 {width:33%;}
.col-lg-5 {width:41.66%;}
.col-lg-6 {width:50%;}
.col-lg-7 {width:58.33%;}
.col-lg-8 {width:66.66%;}
.col-lg-9 {width:74.99%;}
.col-lg-10 {width:83.33%;}
.col-lg-11 {width:91.66%;}
.col-lg-12 {width:100%;}
}